name: Rebuild and Push Docker Image

on:
  schedule:
    - cron: '0 0 * * *' # Every day at midnight UTC
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    env:
      OWNER_LC: five-borough-fedi-project
      IMAGE_NAME: sync-blocked-email-domains
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ghcr.io/${{ env.OWNER_LC }}/masto.nyc-docean/${{ env.IMAGE_NAME }}:latest .

      - name: Push Docker image
        run: |
          docker push ghcr.io/${{ env.OWNER_LC }}/masto.nyc-docean/${{ env.IMAGE_NAME }}:latest
